body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    opacity: 0.5;
    background-image: url("C:\Users\user\IdeaProjects\employee-experience-front\public\static\images\preview-back.jpg");
    color: white;
    text-align: center;
}


.welcome-content {
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 1rem;
    color: #6a11cb;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #f0f0f0;
}